body{
    background:#f4f4f4;
    font-family:'Poppins',sans-serif;
}

.poster{
    width:700px;
    margin:30px auto;
    background:#fff9e8;
    border:2px solid #444;
    padding:25px;
}

h2{
    text-align:center;
    color:#2c3e50;
    text-decoration:underline;
}

ol{
    font-size:16px;
    line-height:30px;
}

.note{
    color:#666;
    font-size:14px;
}

.footer{
    text-align:center;
    color:green;
    font-style:italic;
    font-weight:bold;
}